<div class="container">
  <h1>Where I'm going</h1>
  <% @user_bookings.each do |booking| %>
  <p> <%= booking.user.first_name %> </p>  
  <% end %>
<h1>Who is coming</h1>
  <% @owner_bookings.each do |booking| %>
  <p> <%= booking.user.first_name %> </p>  
  <% end %>

</div>