<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(20,24,22,1) 92%), url(https://images.unsplash.com/photo-1541703834306-d9710dde1287?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2690&q=80);">
  <div class="container">
    <h1>Your royal experience</h1>
    <p>Rent a castle anywhere in the world</p>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% counter = 0 %>
    <% @castles.each do |castle| %>
      <div class="card-trip">
        <% counter += 1 %>
        <%= image_tag "https://source.unsplash.com/1600x900/?castle?#{counter}", class: "card-trip" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to castle.name, castle_path(castle) %></h2>
            <p><%= castle.city %></p>
          </div>
          <h2 class="card-trip-pricing"><%= "$#{castle.price_per_day}" %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
